.errorpage {
    background: #fff;
    font: 9pt/180% "microsoft yahei";
}

.errorpage .wrong {
    margin: 50px 0;
    text-align: center;
}

.errorpage .wrong img {
    max-width: 400px;
    width: 60%;
}

.errorpage .wrong .wrong_num {
    color: #DC181E;
    font-size: 116px;
    font-weight: bolder;
    line-height: 120px;
    margin: 0 0 20px;
}

.errorpage .wrong .sorry {
    color: #B3B3B3;
    font-family: Microsoft Yahei;
    font-size: 30px;
}

.errorpage .wrong .btn {
    margin-top: 30px;
}

.errorpage a {
    color: #428bca;
    text-decoration: none;
}

.errorpage .ec-btn-lg {
    padding: 10px 16px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 6px;
}

.ec-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ec-btn-default {
    color: #333333;
    background-color: white;
    border-color: #cccccc;
}

.ec-btn-default:hover, .ec-btn-default:focus, .ec-btn-default:active {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.ec-btn-default:active {
    background-image: none;
}